.dialog-root .MuiDialogContent-root {
  background-color: white;
}
.dialog-title-root {
  font-size: 16px;
  background-color: white;
}

.dialog-root .MuiInputAdornment-root > .MuiIconButton-root > .MuiSvgIcon-root {
  color: #000;
  margin-left: -13px;
}
