* {
  scrollbar-width: none;
  user-select: none;
}

html {
  cursor: default;
  width: 100%;
}

body {
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: ProximaNova, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Helvetica, Arial, Segoe UI Emoji,
    Segoe UI Symbol, Apple Color Emoji, Twemoji Mozilla, Noto Color Emoji,
    EmojiOne Color, Android Emoji;
  line-height: 1.3125;
  width: 100%;
  height: 100%;
}
.landing-page {
  width: 100%;
  height: 100%;
  isolation: isolate;
  position: abslute;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 8px 0 #0000001f;
  margin-bottom: 20px;
  display: flex;
  flex: 1;
}

.language-login-div {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}

.language-picker-div {
  font-size: 2rem;
  padding-right: 12px;
  padding-left: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

@media screen and (max-width: 445px) {
  .language-picker-div {
    display: none;
  }
}

.language-picker-div:hover {
  text-decoration: underline;
  color: #d6002f;
  list-style-type: none;
}

.language-picker-button {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: block;
  text-transform: uppercase;
  background: transparent;
  border-color: #0000;
}

.language-picker-name-dark {
  color: #000;
}

.language-logo {
  color: #fff;
  width: 16px;
  height: 16px;
  opacity: 0.9;
  vertical-align: middle;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
}

.login-button {
  height: 40px;
  padding-left: 28px;
  padding-right: 28px;
}

.login-button-a {
  touch-action: manipulation;
  letter-spacing: 0.05em;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 19px;
  border-color: transparent;
  font-size: 1.15rem;
  min-height: 40px;
  background: #fff;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.login-button-a:hover {
  background: #000;
  color: #fff;
}

.login-button-a-span {
  position: relative;
  z-index: 1;
}

.header-div {
  z-index: 1;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  min-height: 0;
  transition-duration: 0.1s;
  transition-property: background;
  transition-timing-function: linear;
  height: 96px;
  color: #fff;
  background: #0000;
}

.brave-date-logo-nav-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  transition-property: border-color;
  border-color: #0000;
  transition-duration: 0ms;
}

.brave-date-nav-div {
  height: 40px;
  margin-right: 28px;
  margin-left: 28px;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}

.brave-date-logo-a {
  color: inherit;
  width: 160px;
  text-decoration: none;
}

.brave-date-logo-a:focus {
  outline: solid;
  text-decoration: none;
}

.tinder-colored-logo {
  width: 500px;
  height: 500px;
}
.brave-date-logo {
  width: 150px;
  display: block;
}

.Hidden {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  padding: 0 !important;
  overflow: hidden;
}

.nav-ul {
  display: flex;
}

@media screen and (max-width: 932px) {
  .nav-ul {
    display: none;
  }
}

.nav-ul-li-li {
  font-size: 1.15rem;
  list-style-type: none;
  text-align: left;
}

.nav-ul-li-li-a {
  margin-right: 40px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
}

.nav-ul-li-li-a:hover {
  cursor: pointer;
  font-weight: 500;
  color: #ff4458;
  text-decoration: none;
  border-bottom-width: 100%;
  border-bottom-style: solid;
  padding-bottom: 1px;
  list-style-type: none;
  position: relative;
  bottom: 4px;
}

.ul-li {
  list-style-type: none;
  padding-bottom: 4px;
  padding-top: 4px;
  position: relative;
}

.nav-ul-li-a {
  color: #fff;
  font-weight: 800;
}

.background-image {
  background-image: url("./images/ace5f41685f7c9161284576f885c2094-1.webp");
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.after-background-image {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(180deg, #000e, #0000);
}

.below-header {
  opacity: 0.9;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  -webkit-box-align: center;
}

.below-header-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  min-height: 500px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.swipe-right-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.swipe-right-div-h1 {
  margin: 0;
  color: #fff;
  font-weight: 800;
  font-size: 8vw;
  line-height: 1.18;
  text-align: center;
}

.create-account-div {
  display: flex;
  color: #fff;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: 100%;
  align-items: center;
  -webkit-box-align: center;
}

.create-account-button {
  width: 260px;
  min-height: 55px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
  font-weight: 600;
  background: linear-gradient(45deg, #fd267a, #ff6036);
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px 0 #656e7b1f;
  font-family: inherit;
  line-height: inherit;
}

.create-account-button:hover {
  background: linear-gradient(235deg, #fd267a, #ff6036);
}

.brave-date-colored-logo {
  width: 36px;
  height: 36px;
}
@keyframes heartbeat-animation {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
.page-loader {
  position: absolute;
  left: 45%;
  top: 45%;
  border-radius: 16px;
  z-index: 999;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: heartbeat-animation 1s infinite;
}

.model-login {
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  width: 410px;
  height: auto;
  position: absolute;
  left: center;
  top: 43px;
  z-index: 1;
  overflow: visible;
  overflow-y: scroll;
  background-color: #fff;
  padding-bottom: 36px;
  padding-top: 36px;
  padding-left: 44px;
  padding-right: 44px;
  display: flex;
}

.model-login-inner {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  position: relative;
}

.model-login-header-div {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 28px;
  font-size: 0.95rem;
  color: #21262e;
}

.model-login-header-div-terms-privacy-cookie:hover {
  text-decoration: none;
}

.get-the-app-div {
  margin-top: 24px;
}

.get-the-app-div-line-break {
  border-width: 0;
  margin: 0;
  background-color: #d4d8de;
  height: 1px;
  margin-top: -1px;
}

.download-ios-android-div {
  text-align: center;
}

.download-ios-android-div-inner {
  display: flex;
  margin: auto;
  justify-content: center;
}

.download-ios-android-div-inner-link-ios {
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 16px;
  padding-top: 16px;
  flex-basis: 50%;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}

.download-ios-android-div-inner-link-ios-img {
  background-image: url("./images/d256a5b510a685030be375c63a9010e9.webp");
  background-repeat: no-repeat;
  background-size: 170px auto;
  border-color: #ffff;
  border-radius: 0px;
  height: 60px;
  position: relative;
  background-position-y: 0px;
}

.download-ios-android-div-inner-link-android {
  flex-basis: 50%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  display: inline-block;
}

.download-ios-android-div-inner-link-android-img {
  background-image: url("./images/03aed264f8539c570e9bc80ba6b60d92.webp");
  background-repeat: no-repeat;
  background-size: 218px auto;
  border-color: #ffff;
  border-radius: 0px;
  height: 90px;
  position: relative;
  background-position-x: 50%;
  background-position-y: 40%;
}

.model-login-inner-close-div {
  position: absolute;
  top: 0;
  padding: 20px;
  right: 0;
  display: block;
}

.in-build-app-container {
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  color: #000;
  border-radius: 4;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
}

.in-build-app-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #fff;
  width: 360px;
  border-right: 1px solid grey;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  height: 100%;
  transition: all 0.3s ease;
  overflow: auto;
}
.in-build-app-main-content {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  background-color: 171616;
}

.side-bar-header-root {
  padding-left: 10px;
  color: #fff;
  background: linear-gradient(45deg, #fd267a, #ff6036);
}
.custom-user-info {
  width: 300px;
  height: 90px;
  display: flex;
  color: black;
  flex-direction: row;
  align-items: center;
}
.custom-buttons {
  position: relative;
  right: -90px;
}

.back-btn {
  margin-right: 10px;
  margin-left: -12px;
}

.tab-container {
  margin-top: -12px;
  padding-left: 10px;
  border-bottom: rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
.tab-container .MuiSvgIcon-root {
  color: #000;
}
.tab-root {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1.25px;
  min-width: 20px;
  width: 33.3%;
}

.main-box-root {
  flex: 1;
  display: flex;
  overflow-y: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 2, 2, 0.05);
}

.main-box-title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

/*----------------sidebar----------------*/

@media screen and (min-width: 960px) {
  .user-sub-title {
    font-size: 12px;
  }
  .menu-root .MuiMenu-list {
    padding: 24px;
  }
}

.user-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 1px;
}

@keyframes rectangle-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(17deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-17deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rectangle-animation {
  display: inline-block;
  width: 117px;
  height: 170px;
  background: linear-gradient(45deg, #fd267a, #ff6036);
  border-radius: 10px;
  animation-name: rectangle-rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 1;
}
.no-records-root {
  height: 100%;
}
.no-records-root-inner {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.matches-message {
  opacity: 0.6;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  left: -60px;
  top: -160px;
  background-color: #fff;
  width: 90vw;
  max-width: 405px;
  height: 600px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/*-----------------rec page--------------------*/

@media screen and (max-width: 640px) {
  .in-build-app-container,
  .in-build-app-sidebar {
    width: 100%;
  }
  .in-build-app-main-content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2d2b2b;
    left: 0px;
    top: 0px;
    z-index: 3;
  }
  .custom-buttons {
    position: absolute;
    right: 2px;
  }
  .main-box-root {
    display: none;
  }
}

@media screen and (max-width: 334px) {
  .custom-buttons {
    display: none;
  }
}

.card-container {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card-footer {
  position: absolute;
  border-radius: 20px;
  bottom: 30px;
  background-color: transparent;
  width: 90vw;
  max-width: 360px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.card-footer-bottons {
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 90vw;
  max-width: 405px;
  height: 120px;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
}

.closeButtonLogo {
  border: 5px solid grey;
  border-radius: 30px;
  padding: 3px;
}
